@import url(../fontello/css/fontello.css);
.twitter-handle {
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-size: 1.7em;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600; }

.reveal section .title {
  font-size: 1.5em;
  line-height: 1.35; }
  .reveal section .title img {
    display: block;
    margin: 0.8em 0; }

.reveal section blockquote {
  width: 80%;
  line-height: 1.5;
  padding: 0.5em 1em;
  margin-bottom: 1em; }

.reveal section .hashtag {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1em 0.4em;
  display: inline-block; }
  .reveal section .hashtag:first-of-type {
    margin-top: 7em; }

.reveal section .lighthouse-title {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1em 0.4em;
  display: inline-block;
  margin-bottom: 5em; }

.reveal section h4.hashtag {
  font-size: 1.4em;
  margin: 0 0.2em; }

.reveal section img.plain {
  background: none; }

.reveal section .grumpy {
  margin: 2em -0.5em 0 0;
  text-align: right;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.reveal section .emoji {
  font-size: 1.5em;
  line-height: 1; }
  .reveal section .emoji--gap {
    margin-top: 1.2em; }

.reveal section .list li {
  margin: 0.6em 0; }

.reveal .speaker-notes {
  padding: 10px 30px;
  max-height: 25%;
  font-size: 20px; }

@keyframes rotate {
  from {
    transform: rotate(10deg) translateY(0em); }
  to {
    transform: rotate(10deg) translateY(-0.15em); } }
